body{
    text-align: center;
    
}
.bg-grey{
    background-color: rgb(239, 239, 239);
    margin: 0 3%;
}
input[type=text]{
    padding: 1px 2px;
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 2px;
}
.bg-lblue{
    background-color: #7EE5DA;
    margin: 2 3%;
    float: left;
    width: 35%;
    height: 12.6%;
    padding-top: 6px;
    font-size: 16px;
}
.bg-l1{
    background-color: #70CCC2;
    margin-left: -39px;
    margin-top: 2px;
    float: left;
    width: 20%;
    height: 12.7%;
    padding-top: 5px;
    font-size: 13px;
}
.bg-l2{
    background-color: #62B3AA;
    margin-left: 2px;
    margin-top: 2px;
    float: left;
    width: 523px;
    height: 13%;
    padding-top: 3px;
    font-size: 13px;
}
.alt{
    padding-top: 7%;
    font-size: 14px;
}
